/* Pagina Eventos */


.eventos {
    padding: $px*6;

    @include flexible(flex, row , center, center ) ;
}

@media  screen and (max-width: 480px) {
    .eventos {
        flex-direction: column;
    }

    .e-2 {
        flex-direction: column-reverse;
    }

    
}