/* Estilos del Footer */
@import "variables" ;

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul li {
        display: inline-block;
    }

    div :nth-child(1) {
        text-align: center;
    }
    
    ul li a svg {
        margin: 8px; 
    }

    ul li a svg:hover {
        animation-name: rotar;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        
        transform:rotateY(360deg) ;
    }
}



@keyframes rotar{
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}