/* Pagina inicio */
@import "variables" ;

@media screen and (max-width: 768px) {
    .main-inicio{
        text-align: center;
    }
}

.inicio {
    padding: $px*6;

    @include flexible(flex, row , center , center ) ;
}

@media  screen and (max-width: 480px) {
    .i-3{
        flex-direction: column-reverse;
    } 
    .i-2{
        flex-direction: column;
    } 
}

