/* Estilos del Navbar */

.navbar {
    position: sticky;
    top: 0px;

   
    .nav-item:hover {
        border: solid;
        border: 0 0 3px 0;
        border-color: white;

        transform: scale(1.1);
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
        animation-name: entrada-superior;
    }

}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}




