/* Pagina productos */
@import "variables" ;

.productos {
    padding: $px*4;

    @include flexible(flex, row , space-evenly, center ) ;
}

@media screen and (max-width: 480px) {
    .productos {
        padding: $px*4;
    
        @include flexible(flex, column , space-evenly, center ) ;
    }
    img {
        padding: $px*4;
    }

}